.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: calc(2rem - 3px);
  padding-bottom: 1rem;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: flex;
  height: auto;
  margin-left: 0.5rem;
}
