.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main);
  box-shadow: var(--hover) 0px 1px 4px;
  z-index: 1000;
}

.header nav ul {
  display: flex;
  margin: 1rem;
  padding-left: 1rem;
}

.header nav ul li {
  margin: 0 0.3rem;
  width: 5rem;
  height: 3rem;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}

@media (max-width: 767px) {
  /* mobile */
  .header nav ul {
    padding-left: 0;
    height: inherit;
  }
}
