.sidebar {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTag p {
  display: block;
  background: var(--focus);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
}

.sidebarHandle {
  display: none;
}

.sidebarTagImage {
  position: absolute;
  transform: translate(calc(-100% + 1rem), calc(10% + 1rem));
  width: max-content;
  height: max-content;
  pointer-events: none;
}

.sidebarTagImage span {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: block !important;
}

@media (max-width: 767px) {
  /* mobile */
  .sidebar {
    position: fixed;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 0 0.5rem;
    transition: all 0.5s ease 0s;
  }
  .sidebar:hover {
    transform: translateX(calc(-100% - 1rem));
  }

  .sidebarHandle {
    display: inline-block;
    position: absolute;
    left: -2rem;
    bottom: calc(40% - 2rem);
    width: 2rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem 0 0 1rem;
    font-size: 2rem;
    color: white;
    line-height: 3.6rem;
    text-align: center;
  }

  .sidebarTagImage {
    left: 0 !important;
    opacity: 0;
    transform: translate(calc(-100% - 1rem), calc(-50% - 10rem));
    transition: opacity 0.5s ease 0s;
  }

  .sidebarTag:hover .sidebarTagImage {
    opacity: 1;
  }
}
